body {
    color:white;
    background:cadetblue;
}

.heading{
    width: 80%;
    font-size: 32px;
}
.name_of_person {
    color: crimson;
}
#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#result_person_name, #result_face_accuracy {
    color: darkturquoise;
}